@tailwind base;
@tailwind components;
@tailwind utilities;

.moon-sun {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 26px; /* Adjust the size of the icons */
    height: 26px; /* Adjust the size of the icons */
    transition: transform 0.5s ease-in-out;
  }
  
  .moon-sun svg {
    width: 100%;
    height: 100%;
  }